body {
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../images/cool-background.png');
    overflow-x: hidden;
}
header{
    margin-top: 8vh
}
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 92vh;
}

.carousel-item:nth-child(1) {
    background-image: url('/images/afbeelding repshop.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(2) {
    background-image: url('/images/afbeelding repshop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.itemimg {
    max-height: 768px;
    min-width: auto;
}

/*navbar css*/
header{
   width: 100%;
}
.cropped{
    width: 100%;
    height: 20vw;
    object-fit: cover;
    object-position: center;
}
.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    object-position: center;
}

*:focus, .navbar-toggler:focus {
    outline: none !important;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
.center {
    transform: translate(-50%, -50%);
    width: 50px;
    position: absolute;
    right: 1vh;
}

.center:before,
.center:after,
.center div {

    background: black;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}
.center:hover:before {
    transform: translateY(12px) rotate(135deg);
}
.center:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}
.center:hover div {
    transform: scale(0);
}

.navbar-inverse {
    background: white;
    border-bottom: 4px solid cornflowerblue;
}

.navbar-brand {
    font: 20px Lato;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    margin-top: 2px;
}

.nav {
    margin-bottom: 0px;
}

.nav a {
    letter-spacing: 2px;
    padding: 16px;
    color: black;
    text-transform: uppercase;
    position: relative;
    z-index: 1000;
}

.nav a:hover {
    color: black;
}

.nav li {
    position: relative;
}

.navbar-inverse .navbar-toggler {
    border: none;
}

.navbar-collapse {
    box-shadow: none;
    border: none;
}

.icon-bar {
    background: #a3bfc6;
}

div.pullRight a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: cornflowerblue;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRight a:hover:before
{
    width: 100%;
}


/*navbar*/



@media (max-width: 820px) {
    .nav {
        padding-bottom: 20px;
    }

    .nav a {
        padding: 12px;
    }
    header{
        margin-top: 4vh
    }
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
        height: 96vh;
    }

}

@media (max-width: 480px) {
    .nav {
        padding-bottom: 20px;
    }
    header{
        margin-top: 6vh
    }
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
        height: 94vh;
    }
}